In [63]:
import pandas as pd
import numpy as np

In [64]:
a = open('wind.txt', mode='r')
txtlist = a.readlines()
txtlist = np.array([i.split() for i in txtlist]).T
txtlist[0,1:] = ['19'+i for i in txtlist[0,1:]]
wind = {}
for o in txtlist:
    wind[o[0]] = o[1:]
    
wind = pd.DataFrame(wind)
wind

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,1961,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,1961,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,1961,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,1961,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,1961,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,1978,12,27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
6570,1978,12,28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
6571,1978,12,29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
6572,1978,12,30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
6573,1978,12,31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

In [65]:
temp = np.array(['-' for i in range(6574 )])
wind['DAT'] = np.array(wind['Yr'])+temp+np.array(wind['Mo'])+temp+np.array(wind['Dy'])
wind['DAT'] = pd.to_datetime(wind['DAT'])
wind.set_index('DAT',inplace=True)
wind = wind.astype("float")
wind

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
DAT,,,,,,,,,,,,,,,
1961-01-01,1961.0,1.0,1.0,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1961-01-02,1961.0,1.0,2.0,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
1961-01-03,1961.0,1.0,3.0,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
1961-01-04,1961.0,1.0,4.0,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
1961-01-05,1961.0,1.0,5.0,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1978-12-27,1978.0,12.0,27.0,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
1978-12-28,1978.0,12.0,28.0,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
1978-12-29,1978.0,12.0,29.0,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
1978-12-30,1978.0,12.0,30.0,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
1978-12-31,1978.0,12.0,31.0,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

In [66]:
wind.isna().sum()

Yr     0
Mo     0
Dy     0
RPT    6
VAL    3
ROS    2
KIL    5
SHA    2
BIR    0
DUB    3
CLA    2
MUL    3
CLO    1
BEL    0
MAL    4
dtype: int64

In [82]:
loc_stats = wind.drop(['Yr','Mo','Dy'],axis=1).describe(percentiles=[])
loc_stats = loc_stats.drop(['count','50%'],axis=0)
loc_stats

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
mean,12.362987,10.644314,11.660526,6.306468,10.455834,7.092254,9.797343,8.495053,8.493590,8.707332,13.121007,15.599079
std,5.618413,5.267356,5.008450,3.605811,4.936125,3.968683,4.977555,4.499449,4.166872,4.503954,5.835037,6.699794
min,0.670000,0.210000,1.500000,0.000000,0.130000,0.000000,0.000000,0.000000,0.000000,0.040000,0.130000,0.670000
max,35.800000,33.370000,33.840000,28.460000,37.540000,26.160000,30.370000,31.080000,25.880000,28.210000,42.380000,42.540000

In [89]:
day_stats = wind.drop(['Yr','Mo','Dy'],axis=1).T.describe(percentiles=[])
day_stats = day_stats.drop(['count','50%'],axis=0)
day_stats

DAT,1961-01-01,1961-01-02,1961-01-03,1961-01-04,1961-01-05,1961-01-06,1961-01-07,1961-01-08,1961-01-09,1961-01-10,...,1978-12-22,1978-12-23,1978-12-24,1978-12-25,1978-12-26,1978-12-27,1978-12-28,1978-12-29,1978-12-30,1978-12-31
mean,13.018182,11.336364,11.641818,6.619167,10.630000,8.240000,10.385000,10.487500,9.897500,10.47750,...,7.000833,15.613333,10.823333,5.729167,6.523333,16.708333,15.150000,14.890000,15.367500,15.402500
std,2.808875,3.188994,3.681912,3.198126,2.445356,2.998063,3.072114,3.547237,2.905954,3.44261,...,3.237337,3.850840,7.195039,3.583263,4.304510,7.868076,9.687857,5.756836,5.540437,5.702483
min,9.290000,6.500000,6.170000,1.790000,6.170000,4.420000,4.960000,5.910000,4.750000,6.54000,...,2.460000,9.500000,4.790000,0.750000,1.960000,8.080000,5.000000,8.710000,9.130000,9.590000
max,18.500000,17.540000,18.500000,11.750000,13.330000,13.210000,14.290000,16.620000,15.370000,19.50000,...,13.080000,22.210000,31.710000,13.960000,13.830000,40.080000,41.460000,29.580000,28.790000,27.290000

In [94]:
wind.set_index('Mo').loc[1].drop(['Yr','Dy'],axis=1).mean()

RPT    14.847325
VAL    12.914560
ROS    13.299624
KIL     7.199498
SHA    11.667734
BIR     8.054839
DUB    11.819355
CLA     9.512047
MUL     9.543208
CLO    10.053566
BEL    14.550520
MAL    18.028763
dtype: float64

In [101]:
wind.drop(['Mo','Dy'], axis=1).groupby('Yr').agg('mean')

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr,,,,,,,,,,,,
1961.0,12.299583,10.351796,11.362369,6.958227,10.881763,7.729726,9.733923,8.858788,8.647652,9.835577,13.502795,13.680773
1962.0,12.246923,10.110438,11.732712,6.960440,10.657918,7.393068,11.020712,8.793753,8.316822,9.676247,12.930685,14.323956
1963.0,12.813452,10.836986,12.541151,7.330055,11.724110,8.434712,11.075699,10.336548,8.903589,10.224438,13.638877,14.999014
1964.0,12.363661,10.920164,12.104372,6.787787,11.454481,7.570874,10.259153,9.467350,7.789016,10.207951,13.740546,14.910301
1965.0,12.451370,11.075534,11.848767,6.858466,11.024795,7.478110,10.618712,8.879918,7.907425,9.918082,12.964247,15.591644
1966.0,13.461973,11.557205,12.020630,7.345726,11.805041,7.793671,10.579808,8.835096,8.514438,9.768959,14.265836,16.307260
1967.0,12.737151,10.990986,11.739397,7.143425,11.630740,7.368164,10.652027,9.325616,8.645014,9.547425,14.774548,17.135945
1968.0,11.835628,10.468197,11.409754,6.477678,10.760765,6.067322,8.859180,8.255519,7.224945,7.832978,12.808634,15.017486
1969.0,11.166356,9.723699,10.902000,5.767973,9.873918,6.189973,8.564493,7.711397,7.924521,7.754384,12.621233,15.762904
1970.0,12.600329,10.726932,11.730247,6.217178,10.567370,7.609452,9.609890,8.334630,9.297616,8.289808,13.183644,16.456027
1971.0,11.273123,9.095178,11.088329,5.241507,9.440329,6.097151,8.385890,6.757315,7.915370,7.229753,12.208932,15.025233
1972.0,12.463962,10.561311,12.058333,5.929699,9.430410,6.358825,9.704508,7.680792,8.357295,7.515273,12.727377,15.028716
1973.0,11.828466,10.680493,10.680493,5.547863,9.640877,6.548740,8.482110,7.614274,8.245534,7.812411,12.169699,15.441096
1974.0,13.643096,11.811781,12.336356,6.427041,11.110986,6.809781,10.084603,9.896986,9.331753,8.736356,13.252959,16.947671
1975.0,12.008575,10.293836,11.564712,5.269096,9.190082,5.668521,8.562603,7.843836,8.797945,7.382822,12.631671,15.307863
1976.0,11.737842,10.203115,10.761230,5.109426,8.846339,6.311038,9.149126,7.146202,8.883716,7.883087,12.332377,15.471448
1977.0,13.099616,11.144493,12.627836,6.073945,10.003836,8.586438,11.523205,8.378384,9.098192,8.821616,13.459068,16.590849
1978.0,12.504356,11.044274,11.380000,6.082356,10.167233,7.650658,9.489342,8.800466,9.089753,8.301699,12.967397,16.771370

In [103]:
wind.drop(['Dy'], axis=1).groupby(['Yr','Mo']).agg('mean')

                   RPT        VAL        ROS       KIL        SHA        BIR  \
Yr     Mo
1961.0 1.0   14.841333  11.988333  13.431613  7.736774  11.072759   8.588065
       2.0   16.269286  14.975357  14.441481  9.230741  13.852143  10.937500
       3.0   10.890000  11.296452  10.752903  7.284000  10.509355   8.866774
       4.0   10.722667   9.427667   9.998000  5.830667   8.435000   6.495000
       5.0    9.860968   8.850000  10.818065  5.905333   9.490323   6.574839
...                ...        ...        ...       ...        ...        ...
1978.0 8.0    9.645161   8.259355   9.032258  4.502903   7.368065   5.935161
       9.0   10.913667  10.895000  10.635000  5.725000  10.372000   9.278333
       10.0   9.897742   8.670968   9.295806  4.721290   8.525161   6.774194
       11.0  16.151667  14.802667  13.508000  7.317333  11.475000   8.743000
       12.0  16.175484  13.748065  15.635161  7.094839  11.398710   9.241613

                   DUB        CLA        MUL        CLO        BEL        MAL
Yr     Mo
1961.0 1.0   11.184839   9.245333   9.085806  10.107419  13.880968  14.703226
       2.0   11.890714  11.846071  11.821429  12.714286  18.583214  15.411786
       3.0    9.644194   9.829677  10.294138  11.251935  16.410968  15.720000
       4.0    6.925333   7.094667   7.342333   7.237000  11.147333  10.278333
       5.0    7.604000   8.177097   8.039355   8.499355  11.900323  12.011613
...                ...        ...        ...        ...        ...        ...
1978.0 8.0    5.650323   5.417742   7.241290   5.536774  10.466774  12.054194
       9.0   10.790333   9.583000  10.069333   8.939000  15.680333  19.391333
       10.0   8.115484   7.337742   8.297742   8.243871  13.776774  17.150000
       11.0  11.492333   9.657333  10.701333  10.676000  17.404667  20.723000
       12.0  12.077419  10.194839  10.616774  11.028710  13.859677  21.371613

[216 rows x 12 columns]